build
src/version.h

_CPack_Packages
CMakeFiles
crashdetect.dir
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt

Debug
ipch
Release
Win32
*.dll
*.obj
*.ncb
*.opensdf
*.sdf
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

*.o
src/*.o
lib/*.o
lib/amx/*.o

*.so

