#include <windows.h>
#include "version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
	FILEVERSION     CRASHDETECT_VERSION_RC
	PRODUCTVERSION  CRASHDETECT_VERSION_RC
	FILEOS         	VOS_NT_WINDOWS32
	FILETYPE       	VFT_DLL
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			VALUE "FileDescription",  "SA-MP crashdetect plugin"
			VALUE "FileVersion",      CRASHDETECT_VERSION
			VALUE "ProductVersion",   CRASHDETECT_VERSION
			VALUE "InternalName",     "crashdetect"
			VALUE "LegalCopyright",   "Copyright (C) 2011 Zeex"
			VALUE "OriginalFilename", "crashdetect.dll"
			VALUE "ProductName",      "SA-MP crashdetect plugin"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}
